<!DOCTYPE html>
<html>
<head>
  <title>Jeggy Ocenar | Personal Page</title>
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="./css/images.css">

</head>
<body>

  <div id="app" class="card">
    <h1>{{ name }}</h1>
    <p class="role">{{ role }}</p>

    <section>
      <h3>About Me</h3>
      <p>{{ about }}</p>
    </section>

    <section>
      <h3>Skills</h3>
      <ul>
        <li v-for="skill in skills" :key="skill">
          {{ skill }}
        </li>
      </ul>
    </section>

    <section>
      <h3>Goals</h3>
      <p>{{ goal }}</p>
    </section>

    <button @click="toggleStatus">
      {{ statusButton }}
    </button>

    <p v-if="available" class="status available">
      ✅ Open for learning opportunities
    </p>
    <p v-else class="status busy">
      🚀 Currently building projects
    </p>

  </div>

  <h1>Example 'v-for' to create images and text</h1>
<p>The 'v-for' directive is used to create images and text based on the 'manyFoods' array in the Vue instance.</p>

<div id="app2">
  <div>
    <figure v-for="x in manyFoods">
      <img v-bind:src="x.url">
      <figcaption>{{ x.name }}</figcaption>
    </figure>
  </div>
  

</div>


  <script src="https://unpkg.com/vue@3.4.21/dist/vue.global.js"></script>
  <script src="./js/vue.js"></script>
  <script src="./js/images.js"></script>

</body>
</html>